body {
    background-color: beige;
}

#container {
    width: 1000px;
}

#playingArea {
    height: 430px;
    background-image: url("sky.jpg");
    overflow: hidden;
    position: relative;
}

#lander {
    position: absolute;
    left: 475px;
    top: 10px;
}

#fire {
    display: none;
    position: absolute;
}

#gameOverMessage {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1000px;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 400px;
}

#instructions-fuel {
    overflow: auto;
    font-size: 24px;
}

#instructions {
    float: left;
}

#fuel {
    float: right;
}
